/* App.css */
:root {
    --white: #ffffff;
    --white-o: rgba(255,255,255,0.3);
    --black: #121212;
    --black-o: rgba(18,18,18,0.5);
    --background: #121212;
    --accent: rgba(223, 255, 0, 1);
}

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    background-color: var(--background);
    color: var(--white);
}

.TopText {
    color: var(--accent);
    text-align: left;
    margin-left: 3vh;
    font-size: 24pt;
}

h1 {
    font-family: "Charm", serif;
    font-size: 48pt;
    color: var(--accent);
}

h2 {
    font-size: 24pt;
}

.TopText h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

.Banner img {
    height: 5vh;
}

.Footer {
    height: 10vh;
}

.Picture img{
    height: 10vh;
}

.Spacing-25 {
    height: 25vh;
}
.Spacing-20 {
    height: 20vh;
}
.Spacing-15 {
    height: 15vh;
}
.Spacing-10 {
    height: 10vh;
}
.Spacing-5 {
    height: 5vh;
}