/* App.css */
:root {
    --white: #ffffff;
    --white-o: rgba(255,255,255,0.3);
    --black: #121212;
    --black-o: rgba(18,18,18,0.5);
    --background: #121212;
    --accent: rgba(223, 255, 0, 1);
}

* {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    background-color: var(--white);
    color: var(--black);
}

.navBar {
    display: flex;
    justify-content: center;
}

.navBar a{
    margin-left: 10vw;
    margin-right: 10vw;
}


h1 {
    font-family: "Charm", serif;
    font-size: 48pt;
    color: var(--accent);
}

h2 {
    font-size: 24pt;
}

.Banner {
    margin-top: 2vh;
}

.Banner img {
    height: 5vh;
}

.Footer {
    height: 10vh;
}

.Picture img{
    height: 10vh;
}